@import 'normalize.css';

* {
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem 2rem;
}

body {
    min-width: 650px;
    overflow-x: scroll !important;
}

:root, body.light {
  --primary:#006e1c;
  --on-primary:#ffffff;
  --primary-container:#94f990;
  --on-primary-container:#002204;
  --secondary:#52634f;
  --on-secondary:#ffffff;
  --secondary-container:#d5e8cf;
  --on-secondary-container:#111f0f;
  --tertiary:#38656a;
  --on-tertiary:#ffffff;
  --tertiary-container:#bcebf0;
  --on-tertiary-container:#002023;
  --error:#ba1a1a;
  --on-error:#ffffff;
  --error-container:#ffdad6;
  --on-error-container:#410002;
  --background:#fcfdf6;
  --on-background:#1a1c19;
  --surface:#ffffff;
  --on-surface:#1a1c19;
  --surface-variant:#dee5d8;
  --on-surface-variant:#424940;
  --outline:#72796f;
  --outline-variant:#c2c9bd;
  --shadow:#000000;
  --scrim:#000000;
  --inverse-surface:#2f312d;
  --inverse-on-surface:#f0f1eb;
  --inverse-primary:#78dc77;
  --surface-dim:#dadad4;
  --surface-bright:#f9faf4;
  --surface-container-lowest:#ffffff;
  --surface-container-low:#f3f4ee;
  --surface-container:#eeeee8;
  --surface-container-high:#e8e9e2;
  --surface-container-highest:#e2e3dd;
}

input[type="text"]:invalid {
  border-left: 3px solid red;
}

.field.label > :is(label.active, :focus + label, [placeholder]:not(:placeholder-shown) + label, select + label) {
  font-size: .9rem;
}

.field.label > label {
  color: #555;
}

.code-toolbar button {
  height: auto;
}

input:placeholder-shown,
textarea:placeholder-shown {
  box-shadow: 0 0 2px 2px var(--tertiary-container) inset;
}